html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* Navbar */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
  padding: 20px 0 14px;
  flex-direction: column;
}

.navbar_frame .container .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;
  border-radius: 6px;

  display: flex;
  flex-direction: row;

  background-color: white;
}

.navbar_frame .nav_search_frame .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgba(214, 214, 214, 1);
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;
  background: rgba(245, 195, 75, 1);
}

.navbar_frame .navbar_top .nav_top_menu {
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  width: 55px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 25px;
  height: 25px;
}

.navbar_frame .top_menu_box .box_info_box {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar_frame .box_info_box span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  width: 15.92px;
  height: 15px;
  top: 0%;
  right: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(245, 195, 75, 1);

  color: rgba(11, 30, 64, 1);

  font-family: "Jost";
  font-style: Bold;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .container .bottom_navbar {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  border-top: 1px solid #5747a2;
}

.navbar_frame .bottom_navbar .bottom_navbar_menu_box {
  margin-top: 10px;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .bottom_navbar .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5747a2;
}

.navbar_frame .browse_box img {
  width: 20px;
  height: 18px;
}
.navbar_frame .browse_box span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .bottom_navbar_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 670px;
}

.navbar_frame .navbar_route_menu a {
  margin-right: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}

.navbar_frame .navbar_route_menu a.title {
  color: #f5c34b;
}

.navbar_frame .sorting_menu span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}

/* Header Frame */

.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  padding: 15px;
  position: relative;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url("../Images/icons/header_bg.svg");
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: white;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;

  border-radius: 5px;

  background: rgba(242, 242, 242, 1);
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  color: rgba(0, 83, 246, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .box_left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.header_frame .box_left a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/* Service */

.home_page .service_frame {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}

.service_frame .service_box .service_content {
  margin-left: 14px;

  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
