.home_page {
  /* padding-bottom: 60px; */
  display: flex;
  flex-direction: column;
}

.white_svg {
  filter: brightness(0) invert(1);
}

.container .category_top a {
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;

  color: rgba(4, 30, 66, 1);
}

.container .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

.container .next_prev_box {
  width: 25px;
}

.container .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/* Pagination */

.container .pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination_box .pagination_main {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .pagination_main .pagination_dot {
  margin: 0 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

.pagination_main img {
  cursor: pointer;
}

.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container .pagination_dot .dot.active {
  border: 2px solid #112137;
  border-radius: 50%;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.container .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}
/* /Pagination */

.container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category_top span {
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;

  color: rgba(4, 30, 66, 1);
}

/* Product content BOX */

.container .product_box .product_content_box {
  margin-top: 10px;
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.container .product_content_box .product_desc {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}

.container .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img {
  margin-right: 5px;
}

.review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.container .product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.container .price_box span {
  margin-left: 10px;

  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
  color: rgba(98, 105, 116, 1);
}

/* Header */

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.header_frame .container .header_left {
  padding: 15px;
  position: relative;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url("../Images/icons/header_bg.svg");
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 6px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: white;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;

  border-radius: 5px;

  background: rgba(242, 242, 242, 1);
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  color: rgba(0, 83, 246, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .box_left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.header_frame .box_left a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.header_frame .header_box .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/* Service */
.home_page .service_frame {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.container .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service_box img {
  width: 35px;
  height: 35px;
}

.service_box .service_content {
  margin-left: 14px;

  display: flex;
  flex-direction: column;
}

.service_content span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.service_content p {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* Shop Category */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop_category_frame .category_top span {
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;

  color: rgba(4, 30, 66, 1);
}

.shop_category_frame .category_top a {
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: rgba(4, 30, 66, 1);
}

.shop_category_frame .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

.shop_category_frame .container .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.shop_category_frame .category_box .category_image_box {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.shop_category_frame .category_box span {
  margin-top: 15px;
  width: 136px;

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  color: rgba(4, 30, 66, 1);
}

/* Top Selling Products */

.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling_product_frame .container {
  flex-direction: column;
}

.selling_product_frame .container .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.selling_product_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling_product_frame .product_img_box:hover .hover_box {
  display: flex;
}

.selling_product_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  color: rgb(255, 255, 255);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
}

.selling_product_frame .product_box .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
  margin-top: 7px;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}

.selling_product_frame .product_content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review_box img {
  margin-right: 5px;
}

.review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.product_content_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.selling_product_frame .price_box span {
  margin-left: 10px;

  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
  color: rgba(98, 105, 116, 1);
}

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(0, 83, 246, 1);
  background-color: #e1edff;
}

/* Spec Products */

.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec_product_frame .container {
  flex-direction: column;
}

.container .spec_product_wrapper {
  position: relative;
  margin-top: 34px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec_product_wrapper .left_bigger_box {
  position: relative;
  width: 664px;
  height: 360px;

  display: flex;

  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.left_bigger_box .bigger_box_content {
  padding: 46px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  align-items: flex-start;
}

.bigger_box_content p {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.bigger_box_content span {
  width: 161px;
  height: 74px;
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.bigger_box_content a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.left_bigger_box img {
  position: absolute;
  width: 322px;
  height: 301px;
  right: 10%;
  top: 7%;
}

.container .smaller_right_wrapper {
  margin-left: 30px;
  position: relative;
  width: 614px;
  height: 360px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smaller_right_wrapper .right_smaller_box {
  position: relative;

  width: 293px;
  height: 166px;

  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.smaller_right_wrapper .right_smaller_box:nth-child(odd) {
  margin-right: 15px;
}

.right_smaller_box .smaller_box_content {
  padding: 30px 35px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.smaller_box_content strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.smaller_box_content span {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.right_smaller_box img {
  position: absolute;
  right: 5%;
  top: 23%;
}

.right_smaller_box .img1 {
  position: absolute;
  right: 5%;
  top: 40%;
}

/* TV & Home Theatre */

.home_page .tv_home_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_home_frame .container {
  flex-direction: column;
}
.container .category_top .a_spec {
  width: 523px;
  margin-left: 20px;
}

.container .tv_home_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_home_wrapper .tv_home_product_boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv_home_product_boxes .tv_home_product_box {
  width: 262px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv_home_product_box .product_image {
  width: 100%;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Event */

.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../Images/icons/event_bg.png");
  background-size: cover;
}

.event_frame .container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .event_content_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event_content_box .timer_wrapper {
  margin-top: 30px;
  width: 334px;
  display: flex;
  flex-direction: row;
}

.timer_wrapper .timer_box {
  width: 80px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.timer_box span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.timer_box strong {
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
}

.event_content_box .event_title {
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
}

.event_content_box a {
  margin-top: 30px;
  width: 141px;
  height: 50px;

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.container .event_product_wrapper {
  width: 960px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event_product_wrapper .event_product_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event_product_boxes .event_product_box {
  margin-right: 8px;
  width: 210px;
  height: 392px;

  display: flex;
  flex-direction: column;

  border-radius: 6px;
  background-color: #ffffff;
}

.event_product_box .event_product_image {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.event_product_box .product_content_box {
  padding-left: 10px;
  height: auto;
  box-sizing: border-box;
}
